.App {
  text-align: center;
  background-color: #ededed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*************************TableData*****************************/
.tableData
td{
  align-items: left;
  width:15%;
}
Table thead th{
  align-items: left;
  width:10%;
}
Table ,tr{
  width:100%;
}
.App-link {
  color: #61dafb;
}
/********************Card***************************/
.card-body{
  background-color: #000000;
  color:#ffffff;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}

/********************************NavBar***********************************/

.navbar-expand-lg {
    margin-top: 1%;
    margin-bottom: 1%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: #169fe7;
    color:#ffffff;
}

.navbar-brand {
  color: #ffffff;
  margin-right: 4rem;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
