.addPresentation Form{
    width:60%;
   padding-left:15%;
   padding-right:15%;
   background-color: black;
   color:#ffffff;
   padding-bottom: 2%;
   margin-bottom: 2%;
}
Form {
    margin-left: 15%;
    margin-right: 15%;
}